/* подключение шрифта */
@font-face {
    font-family: "Toyz";
    src: url("../fonts/ofont.ru_Toyz.ttf") format("truetype");

    font-style: normal; 
    font-weight: normal; 
}

body {
    font-family: 'Montserrat', sans-serif;

    background-color: #F0F8FF;
}

/* я хочу/я выбрал */
select {
    padding: 2%;
    width: 350px;
    text-align: center;

    text-transform: uppercase;
    font-size: larger;
    border-radius: 10px;
    outline: none;
    font-family: inherit;
}

.tell {
    display: grid;

    justify-items: center;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    'tell tell'
    'img section';
}

.tell > section {
    margin-right: 10em;

    grid-area: section;
}

/* показывает пальцем */
.tell > img {
    width: 35em;

    margin-top: 80px;
    grid-area: img;
}

/* расскажи что выбрал */
.tell > div > img {
    width: 350px;
    position: absolute;

    grid-area: tell;
    margin-top: 30px;
    z-index: -1;
}

/* "я хочу" и "я выбрал" */
.tell > section > p, .tell > section > div > p {
    font-family: "Toyz", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;

    text-align: center;
    margin-bottom: 7%;
}

.choose {
    display: none;
}

/* карта и аргументы */
.info {
    display: none;
    justify-items: center;

    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
    'p p'
    'map reason';
}

.info > p {
    grid-area: p;
    font-size: 20px;

    text-transform: uppercase;
    width: 400px;
    text-align: center;
}

/* карта */
.info > iframe {
    grid-area: map;

    border-radius: 20px;
}

.info > span {
    grid-area: reason;

    padding: 0em 3em 0em 2em;
}

.info > span > p {
    font-family: "Toyz", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 35px;
    text-align: center;
    margin-top: 1%;
}

.info > span > ul > li {
    margin-bottom: 10px;

    font-size: 20px;
}

/* список аргументов */
.info > span > ul {
    padding-left: 0em;
}

.end {
    display: none;
    grid-template-areas: 
    'cloud cloud'
    'img .';

    justify-items: center;
    margin-top: 3em;
}

/* пока */
.end > img {
    width: 700px;
    grid-area: img;

    margin-top: 2em;
}

/* прощальные слова */
.end > div > img {
    width: 400px;
    position: absolute;
    grid-area: cloud;
    z-index: -1;

    margin-left: 30px;
}