/* подключение шрифта */
@font-face {
    font-family: "Toyz";
    src: url("-/FONTS/ofont.ru_Toyz.ttf") format("truetype");

    font-style: normal; 
    font-weight: normal; 
}

body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

    background-color: #F0F8FF;
}

h2 {
    font-family: "Toyz";
    font-size: 45px;

    text-align: center;
}

.news {
    padding: 2% 6% 0% 6%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.news > img {
    width: 350px;
}

/* галочка */
.news > section > span > img {
    width: 30px;
    height: 35px;

    margin-right: 12px;
}

.news > section > span {
    display: flex;

    align-items: center;
    justify-content: center;
}

/* заголовок новости */
.news > section > span > h3 {
    font-family: "Toyz";
    font-size: 35px;

    margin-bottom: 20px;
}

.news > section > p {
    margin-top: 0%;
}

.news > section > h5 {
    text-transform: uppercase;
    margin-top: 0px;

    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

