/* подключение шрифта */
@font-face {
    font-family: "Toyz";
    src: url("FONTS/ofont.ru_Toyz.ttf") format("truetype");

    font-style: normal; 
    font-weight: normal; 
}

body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

    background-color: #F0F8FF;
}

/* новости */
body > ul > li > h2 {
    font-family: "Toyz", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 53px;
    letter-spacing: 8px;

    text-align: center;
}

.news {
    display: inherit;
    margin: 0em 0em 4em 7em;

    background-color:#d6ecffab;
    width: 35em;
    height: 15em;
    border-radius: 40px;
    padding-left: 2em;
}

/* смена цвета новости по наведению */
.news:hover 
{
    background-color: #cae6ff;
    border-radius: 40px;
}

/* для новостей справа */
.right {
    align-self: flex-end;
    margin-right: 7em;
}

/* текстовая инфа новости */
.news > section {
    margin-right: 1.5em;
}

/* галочка */
.news > section > span > img, .news > span > img {
    width: 30px;
    height: 35px;

    margin-right: 1.5em;
}

/* галочка и заголовок новости*/
.news > section > span, .news > span {
    display: flex;

    align-items: center;
}

/* заголовок новости */
.news > section > span > h3, .news > span > h3 {
    font-family: "Toyz", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    letter-spacing: 8px;

    margin-bottom: 28px;
}

.news > section > p, .news > p {
    margin-top: 0%;
    padding-right: 10%;
}

.news > section > h5 {
    text-transform: uppercase;
    margin-top: 0px;

    font-size: 23px;
    margin-bottom: 5px;
}

/* кнопка подробнее */
.news > section > button, .news > button {
    padding: 0.8em 1.5em 0.8em 1.5em;

    letter-spacing: 3px;
    font-family: inherit;
    border-radius: 10px;
    background-color:#a5bdff64;
    cursor: pointer;
    border: none;
    font-weight: 600;
    width: min-content;
}

.hello {
    margin-top: 3%;

    display: grid;
    grid-template-areas: 
    'cloud cloud'
    'img .';

    justify-items: center;
}

/* привет */
.hello > img {
    width: 700px;
    grid-area: img;

    margin-top: 1em;
    margin-bottom: -120px;
}

/* приветственные слова */
.hello > div > img {
    width: 400px;
    position: absolute;
    grid-area: cloud;
    z-index: -1;

    margin-left: 50px;
}

body > ul {
    list-style: none;

    text-align: center;
}

body > ul > li {
    font-size: 20px;
    text-transform: uppercase;
}

/* галочки */
body > ul > li > img {
    margin: 5px;
}

/* подключение шрифта в список */
.toyz {
    margin-top: 8px;

    font-size: 40px;
    font-family: "Toyz", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* я готов выбрать */
.news_page > button {
    font-family: "Toyz", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    border-radius: 10px;

    background-color:rgb(153, 233, 255);
    border-color: rgb(34, 207, 255);
    align-self: center;
    margin: 2em;
    padding: 0.5em 1em 0.5em 1em;
}

/* все новости */
.news_page {
    display: flex;
    flex-direction: column;
}

#menu {
    width: 99%;
    text-align: center;

    margin: -1em 0em 6em 0em;
}

.special {
    flex-direction: column;
    width: 32em;
}
